*{
    margin: 1% auto;
    box-sizing: border-box;
    text-align: center;
}
*::before,
*::after {
  box-sizing: border-box;
}
.container{
    margin: auto;
    align-content: center;
}
#open_text{
    margin: auto;
    text-align: center;
    font-size:large;
    padding-bottom: 1rem;
}
.start{
    font-size: large;
    font-weight: bolder;
    z-index: auto;
}  
.about,.find-Us,.domain_desc{
    text-align: center;
    padding-top: 1rem;
    font-size: medium;
    z-index: auto;
}
.bold-text{
    font-weight: bolder;
    font-size: medium;
    z-index: auto;
}
@media (max-width: 991.98px) {
    #dtext {
      padding: calc(1.325rem + 0.9vw);
      font-size: 1.425rem; /* 1.125rem is small enough, so RFS won't rescale this */
      font-weight: bolder;
    }
    body{
        padding: rfs-fluid-value(2rem);
        align-items: center;
        text-align: center;
        min-width: fit-content;
    }
  }
  
h2{
    text-align: center;
}
#domain{
    align-content: center;
    text-align: center;
}
img{
    text-align: center;
}
