*{
    margin: 1% 1% auto;

}
.container{
    margin: auto;
}
#open_text{
    margin: auto;
    text-align: center;
    font-size:large;
    padding-bottom: 1rem;
}
.start{
    font-size: large;
    font-weight: bolder;
    z-index: auto;
}  
.about,.find-Us,.domain_desc{
    text-align: center;
    padding-top: 1rem;
    font-size: medium;
    z-index: auto;
}
.bold-text{
    font-weight: bolder;
    font-size: medium;
    z-index: 0;
}
.p-3{
    min-height: 250px;
}
h2{
    text-align: center;
}
img{
    border-radius: 1cm;
    border-width: thick;
    border-color: rgb(3, 3, 73);
    align-items: center;
}
