*{
    margin: 1% auto;
    box-sizing: border-box;
    text-align: center;
}
*::before,
*::after {
  box-sizing: border-box;
}
#mainNav{
    margin: 0%;
    font-size: xx-large;
    z-index: auto;
    padding: 0 1.5rem;
}
.flip-card {
    background-color: transparent;
    align-items: center;
    width: 2500px;
    height: 250px;
    perspective: 1000px; 
}
.card{
    background: linear-gradient(to right bottom, #6ac9d3, #9ddadf, #c9ebec, #f3fbfb);
}  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: linear-gradient(circle, #F7FFFF, #03A1AB);
    color: black;
}

.flip-card-back {
    background-image: radial-gradient(circle,#A8F0E8, #03ABB6);
    box-shadow: 5px 10px 30px #0197A1;
    color: rgb(2, 2, 2);
    transform: rotateY(180deg);
    text-align: center;
}



#social {
    margin: 20px 10px;
    text-align: center;
  }
  
.smGlobalBtn { /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border:2px solid #ddd; /* add border to the buttons */
      box-shadow: 0 3px 3px #999;
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 25px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 27px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
}

.envelopeBtn{
    background: #4060A5;
}

.envelopeBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f0e0"; /* add facebook icon */
}

.envelopeBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

.facebookBtn,.twitterBtn{
      background: #4060A5;
}
  
.facebookBtn:before{ /* use :before to add the relevant icons */
      font-family: "FontAwesome";
      content: "\f09a"; /* add facebook icon */
}
  
.facebookBtn:hover{
      color: #4060A5;
      background: #fff;
      border-color: #4060A5; /* change the border color on mouse hover */
}

.instaBtn{
    background-image: linear-gradient(to right top,#DD2A7B,#8134AF,#515BD4);
}
.instaBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f16d"; /* add facebook icon */
}

.instaBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}  

  
.twitterBtn:before{
        font-family: "FontAwesome";
        content: "\f099"; /* add twitter icon */
        
}
  
.twitterBtn:hover,.linkedinBtn:hover{
        color: #00ABE3;
        background: #fff;
        border-color: #00ABE3;
  }
  

  
  /* linkedin button class*/
.linkedinBtn{
      background: #0094BC;
}
  
  .linkedinBtn:before{
        font-family: "FontAwesome";
        content: "\f0e1"; /* add linkedin icon */
  }
  

  